.cardWrapper {
    border: 2px solid black;
}

.title {
    text-align: center;
}

.button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.activo {
    color: hotpink;
}

.inactivo {
    color: gray;
}
